input:invalid:not(:placeholder-shown) {border-color: red;}
input:valid:not(:placeholder-shown) {border-color: green;}
body {
    font: 1em sans-serif;
    padding: 0;
    margin : 0;
}

form {
    max-width: 200px;
    margin: 0;
    padding: 0 5px;
}

p > label {
    display: block;
}


input::placeholder {
    color: blue;
}
.name,
.growth,
.surname,
.mail,
.age,
.about,
.sex,
.interests,
.birth,
.pass,
.town,
.phone,
.dis {
    margin-bottom: 20px;
}
.giraffe-message {
    display: none;
}

.show {
    display: block;
    color: darkred;
    border: thick double red;
    padding: 5px 5px;
}